
:root {
    --background-color: #403b3b;

    --color-golden: #DCCA87;
    --color-black: #0C0C0C;
    --color-grey: #646464;

    --color-crimson: #F5EFDB;
    --color-greylight: #AAAAAA;
    --color-white: #FFFFFF;
    --color-reddark: #310906;

    --font-base: 'Cormorant Upright', serif;
    --font-alt: 'Open Sans', sans-serif;
    

  }